@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/PipeYume/css-test@07235831c699ca03f801e6dc5b2f5a9a0b824aa7/1737365401/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}