@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/PipeYume/css-test@167b910392dc704e15cf05058f1327c1821ba910/1737365401/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}