@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/PipeYume/css-test@d4d1ec3e4b0d005de651fbaea1d5eb21eb52d609/1737365401/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}